@import "../../build/css/variables.css"; /* Using a string */

.ds-hd-nav,  .ds-ft-footer  {
    background: var(--sd-main-gradient);
}
.gradient-card{
    border-radius: var(--sd-ds-font-large) var(--sd-ds-font-large) 0px 0px;
    background: var(--sd-form-gradient);
}
.white-card{
    border-radius:0px 0px var(--sd-ds-font-large) var(--sd-ds-font-large);
    background-color:var(--sd-ds-white) ;
}
.input-group .btn{
    border-top-right-radius: var(--sd-ds-box-radius-small);
    border-bottom-right-radius: var(--sd-ds-box-radius-small);
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed{
    border-radius: var(--sd-ds-box-radius-medium);
    font-size: var(--sd-ds-font-medium);
}
.approver-name{ font-size: var(--sd-ds-font-large);}
.radio-group, .form-select, .form-floating {
    border-radius: var(--sd-ds-box-radius-small);
}
.form-control{
    border-color:var(--sd-ds-border) ;
    border-radius: var(--sd-ds-box-radius-small);
    color: var(--sd-ds-black) !important;
    
}
.form-select, .country-number{
    border-color:var(--sd-ds-border) ;
}
label{
    color: var(--sd-ds-label-color) !important;
    font-size: var(--sd-ds-font-medium) !important;
}
.form-check-label, .white-card .form-select, .custom_select, #seller_phone1{
    font-size: var(--sd-ds-font-large) !important;
    color: var(--sd-ds-black) !important;
}
.form-control, .form-select, .custom_select, #seller_phone1, .input-group .btn{
    font-size: var(--sd-ds-font-large) !important;
}
.country-number{
    border-radius: var(--sd-ds-box-radius-small);
}
.form-check-label, .gradient-card .form-select{
    color: var(--sd-ds-black) ;
}
.gradient-card .form-control{
    border-color:transparent ;
}
.gradient-card .form-control.white-control{
    color: var(--sd-ds-white) !important;
}
.form-check-input:checked {
    background-color: var(--sd-ds-purple-primary);
    border-color: var(--sd-ds-purple-primary);
}
#feedbackModal .modal-title, .rating-stars ul > li.star.selected > i, .ds-hd-role>li>a:hover, .ds-hd-role>li.active a, .ds-hd-role>li>a:hover>i, .ds-hd-role>li.active a>i, .ds-hd-role>li>a:focus, .ds-hd-role>li>a:focus>i, .ds-hd-logout:hover, .ds-hd-logout:focus{
    color: var(--sd-ds-purple-primary);
}
main{
    background-color: var(--sd-ds-body-color) !important;
}
.glb-btn .btn-primary, #feedbackModal .btn{
    border-color: var(--sd-ds-purple-primary);
    background-color: var(--sd-ds-purple-primary) !important;
    border-radius: var(--sd-btn-radius);
    font-size: var(--sd-ds-button-font-size);
}
.glb-btn .btn-secondary {
    color: var( --sd-ds-button-outline);
    border-color: var( --sd-ds-button-outline);
    border-radius: var(--sd-btn-radius);
    font-size: var(--sd-ds-button-font-size);
}
.mick-icon{
    border: solid 1px var(--sd-ds-purple-primary);
    color: var(--sd-ds-purple-primary);
}